@font-face {
    font-family: 'Digital7';
    src: url('../assets/fonts/Digital7-rg1mL.ttf') format('truetype');
    font-weight: normal;
}

body{
    background-color: rgb(0, 0, 0);
}

#contador{
    display: block;
    font-family: 'Digital7';
    color: rgb(79, 236, 87);
    font-size: 100px;
}

.timer{
    color: white;
    text-align:  center;
    height: 2em;
}

.btn{
    text-align: center;
}

.btn button{
    height: 5em;
    width: 15em;   
}

.btn-start{
    background-color: rgb(0, 255, 149);
}

.btn-pause{
    background-color: yellow;
}

.btn-stop{
    background-color: red;
}

.btn button:hover{
    color: rgb(54, 0, 250);
}